:root {  
  --primary: #65C29B;
  --primary-dark: #50a380;
  --secondary: #3CB6D6;
  --secondary-dark: #196c82;
  --complementary: #162B47;
  --global-light-bg: #F7F9FC;

  --upper-medium-grey: #999999;
  --medium-grey: #b9b9b9;
  --light-grey: #C6C6C6;
  --lighter-grey: #e2e2e2;
  --lightest-grey: #fafafa;

  --min-site-width: 275px;
  --max-site-width: 900px;
  --max-site-width-page-renderer: 750px;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: lighter;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: lighter;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-ExtraLightItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-LightItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Italic.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: normal;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Italic.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 500;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-SemiBoldItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: bold;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-BoldItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 800;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Black.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bolder;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-Black.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 800;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-BlackItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: bolder;
  src: url(../assets/fonts/source-sans-pro/SourceSansPro-BlackItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url(../assets/fonts/Comfortaa-VariableFont_wght.ttf) format('opentype');
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf) format("opentype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf) format("opentype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Brushot";
  src: url(../assets/fonts/brushot/Brushot-Bold.ttf) format("opentype");
  font-weight: 800;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Source Sans Pro', 'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .02em;
  font-weight: 300;
  font-size: 1em;
  min-width: var(--min-site-width);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  min-height: 24px;
  background-color: var(--light-grey);
}

::-webkit-scrollbar-track {
  background-color: var(--lighter-grey);
}

::-webkit-scrollbar-thumb:focus {
  background-color: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--primary);
  text-decoration: none;
}


